page-state {
    ion-list{
        direction: rtl
    }
}
.Gradient{
    background: #be5252;
    background: -moz-linear-gradient(top, #be5252 0%, #964c42 50%, #7a3837 100%);
    background: -webkit-linear-gradient(top, #be5252 0%,#964c42 50%,#7a3837 100%);
    background: linear-gradient(to bottom, #be5252 0%,#964c42 50%,#7a3837 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be5252', endColorstr='#7a3837',GradientType=0 );
     direction: rtl
}