page-registration {
   
}
.rit{

direction: rtl;
}

.text-input{
    direction: rtl;
    color:#b7514e;
}
.loginBnt{
    font-size: 1.7rem;
}
.toast-message {
    font-size: 1.7rem;
    color: #b7514e !important;
    font-family: 'Droid Arabic Kufi', serif; 
    padding: 19px 16px 17px;
    background-color: #f4f4f4;
    direction: rtl

}
.lb{
    color: #b7514e !important;
}