
<ion-header>
  <ion-navbar color="dark-red">
    <ion-title>الصفحة الرئيسية</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- <div *ngFor="let item of state  | async " >
    <p>{{item.key}}</p>
    <p>{{item.state}}</p>
  </div> -->
   <ion-grid *ngIf="x==0">
            
        <ion-row style="padding-top:80px;">
            <button ion-button color="danger" outline class="btn" col-8 offset-2 (click)="request()">
                <img  class="btn-img" src="./assets/imgs/blood3.png"/>
            طلب عاجل                
           </button>
        </ion-row>

        <ion-row style="padding-top:30px;">

              <button ion-button color="danger" outline class="btn" col-8 offset-2 (click)="showRequried()">
                    <img  class="btn-img" src="./assets/imgs/blood4.png"/>
                    تبرع الان               
               </button>
        </ion-row>

        <!-- <ion-row style="padding-top:10px;">
        
            <button ion-button color="danger" outline class="btn" col-8 offset-2 (click)="bloodBanks()">
                <img  class="btn-img" src="./assets/imgs/blood-donation33.png"/>
                مراكز التبرع               
           </button>

        </ion-row> -->
        <ion-row style="padding-top:30px;">
          
              <button ion-button color="danger" outline class="btn" col-8 offset-2 (click)="donors()">
                  <img  class="btn-img" src="./assets/imgs/blood1.png"/>
                  المتبرعين           
             </button>
  
          </ion-row>
          <ion-row style="padding-top:30px;">
            
                <button ion-button color="danger" outline class="btn" col-8 offset-2 (click)="addDonors()">
                 <p> انضم الى المتبرعين الان</p>
                  </button>
    
            </ion-row>
    </ion-grid>

  <ion-slides *ngIf="x==1" loop animates #animation="animates"   (ionSlideDidChange)="animation.start({type: 'bounceIn', duration: '1000'})">
    <ion-slide>
      <img src="./assets/imgs/blood/blood1.jpg" class="slide-image"/>
      <h2 class="slide-title">محتاج دم</h2>
      <p >اكتب ما تحتاجه هنا وسيتم عرضه للجميع</p>
      <button  ion-button large clear icon-end color="danger" (click)="request()">
          دخول
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide>
      <img src="./assets/imgs/blood/blood2.jpg" class="slide-image"/>
      <h2 class="slide-title">محتاج متبرع بالدم</h2>
      <p >ابحث هنا عن جميع المتبرعين الذين يستطيعون مساعدتك وتلبية ما تحتاج</p>
      <button  ion-button large clear icon-end color="danger" (click)="donors()">
          دخول
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide>
      <img src="./assets/imgs/blood/blood4.png" class="slide-image"/>
      <h2 class="slide-title"> تريد تتبرع الان</h2>
      <p >يعرض هنا جميع الاشخاص الذين هم بحاجة الى تبرع دم مع بياناتهم</p>
      <button  ion-button large clear icon-end color="danger" (click)="showRequried()">
          دخول
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide>
      <img src="./assets/imgs/blood/blood6.jpg" class="slide-image"/>
      <h2  class="slide-title fon">مستعد للتبرع في اي وقت</h2>
      <button  ion-button large clear icon-end color="danger" (click)="addDonors()">
        سجل بياناتك
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
  
</ion-content>